h1{
    color: blue;
}
#pic
{
    height:150px;
    width: auto;
    border-radius: 10px;
}
#text
{
    color: aliceblue;
}
#icon
{
    height: 15px;
    width: auto;
    border-radius: 40px;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
   }
#heading
{
    color: antiquewhite;
    font-size: large;
}
#icon1
{
    height: 25px;
    width:auto;
}